/* ========================================================================
 * Template: Blankon Fullpack Admin Theme
 * Version: 1.0.0
 * ------------------------------------------------------------------------
 * Author: djava ui
 * Website: http://djavaui.com
 * Email: support@djavaui.com
 * ======================================================================== */
/* ========================================================================
 * TABLE OF CONTENTS
 * ========================================================================
   01. RESET
   02. TOP BAR
   03. INNER ELEMENT
   04. BANNER
   05. LIVE PREVIEW
   06. REASON
   07. FEATURES
   08. SUPPORTED RESOLUTIONS
   09. SUMMARY
   10. FOOTER
   11. CONTEXTUAL CLASSES TEXT
   12. FOREGROUND COLOR
   13. LOADING ANIMATION
   14. DIMENSION
   15. BACK TOP
   16. RESPONSIVE LAYOUT
   17. MISC
 * ======================================================================== */
/* ========================================================================
 * GLOBAL / RESET
 * ======================================================================== */
body {
  font-family: "Open Sans", sans-serif;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-backface-visibility: hidden;
}
h2 {
  color: #333;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}
a {
  outline: none !important;
}
p {
  color: #333;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
}
#wrapper {
  padding: 0px;
  margin: 0px;
  height: 100%;
  position: relative;
  opacity: 0;
}
@media (min-width: 1440px) {
  body {
    background-color: #e6e6e6;
  }
  #wrapper {
    width: 1366px;
    margin: 0px auto;
  }
  #top-reasons,
  .feature,
  #features,
  #supported-resolutions {
    background-color: #ffffff;
  }
  #back-top {
    right: 75px !important;
  }
}
@media (min-width: 1680px) {
  #back-top {
    right: 195px !important;
  }
}
@media (min-width: 1920px) {
  #back-top {
    right: 315px !important;
  }
}
@media (min-width: 2560px) {
  #back-top {
    right: 635px !important;
  }
}
/* ========================================================================
 * LAYOUT / TOP BAR
 * ======================================================================== */
#top-bar {
  opacity: 0.4;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 53px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  -webkit-transition: opacity 0.3s linear 0s;
  -moz-transition: opacity 0.3s linear 0s;
  transition: opacity 0.3s linear 0s;
}
#top-bar:hover {
  opacity: 1;
}
#top-bar a {
  color: #FFF;
}
#top-bar .nav > li > a {
  -webkit-transition: opacity 0.3s linear 0s;
  -moz-transition: opacity 0.3s linear 0s;
  transition: opacity 0.3s linear 0s;
}
#top-bar .nav > li > a:hover,
#top-bar .nav > li > a:active,
#top-bar .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0.25);
}
#top-bar .navbar-brand {
  padding: 0px;
}
/* ========================================================================
 * LAYOUT / INNER ELEMENT
 * ======================================================================== */
.inner {
  width: 960px;
  margin: auto;
  position: relative;
}
/* ========================================================================
 * LAYOUT / BANNER
 * ======================================================================== */
#banner {
  position: relative;
  z-index: 1;
  color: #333;
  overflow: hidden;
  background: url("../../global/img/showcase/banner.jpg") no-repeat;
  background-repeat: repeat;
  background-size: 100%;
}
#banner h1 {
  font-weight: 300;
  font-size: 50px;
}
#banner .action {
  display: inline-block;
  font-size: 15px;
  color: #FFF;
  border-radius: 20px;
  font-weight: 400;
  padding: 9px 25px;
  background-color: #81b71a;
}
#banner.banner-view {
  color: #FFF;
  height: 775px;
}
#banner.banner-view .live-preview {
  display: inline-block;
  margin-left: 5px;
}
#banner.banner-view .live-preview a {
  font-weight: 400;
  color: #FFF;
}
#banner.banner-view .live-preview a:after {
  padding: 2px 5px 1px;
  border-radius: 5px;
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.2);
}
#banner.banner-view .inner {
  height: auto;
  padding-top: 150px;
  text-align: center;
  padding-bottom: 150px;
}
#banner.banner-view .inner h1 {
  margin-bottom: 30px;
  -webkit-font-smoothing: antialiased;
  font-size: 35px;
  line-height: 46px;
  opacity: .9;
  text-align: center;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}
#banner.banner-view .inner h1 strong,
#banner.banner-view .inner h1 i,
#banner.banner-view .inner h1 span {
  display: block;
}
#banner.banner-view .inner h1 span {
  font-size: 30px;
}
#banner.banner-view .action {
  padding-right: 50px;
  padding-left: 50px;
  margin-right: 20px;
}
#banner .banner-overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
/* ========================================================================
 * LAYOUT / BANNER / LIVE PREVIEW
 * ======================================================================== */
.live-preview a i {
  margin-left: 5px;
  font-size: 70%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1px 8px 2px 10px;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* ========================================================================
 * LAYOUT / BANNER / REASON
 * ======================================================================== */
#top-reasons .inner {
  padding: 100px 0px;
}
#top-reasons h2,
#top-reasons p,
#top-reasons ul {
  text-align: center;
}
#top-reasons h2 {
  margin-bottom: 20px;
  text-align: center;
}
#top-reasons p {
  max-width: 600px;
  margin: 0px auto;
}
#top-reasons i,
#top-reasons span {
  color: #81b71a;
  display: block;
}
#top-reasons span {
  margin-top: 20px;
}
#top-reasons .row {
  margin-top: 60px;
}
/* ========================================================================
 * LAYOUT / FEATURES
 * ======================================================================== */
#features {
  text-align: center;
  overflow: hidden;
}
#features .inner {
  padding: 215px 0px 50px;
}
#features h2 {
  margin-bottom: 10px;
}
#features h2 + p {
  margin-bottom: 40px;
}
#features i {
  color: #81b71a;
  cursor: default;
}
#features .media .pull-left {
  width: 30px;
}
#features .media .media-body {
  text-align: left;
}
#features .media .media-body .media-heading {
  font-weight: 300;
}
#features .media .media-body p {
  font-size: 13px;
}
#features [class*="col-"] {
  margin-bottom: 10px;
}
.feature {
  overflow: hidden;
}
.feature .inner {
  padding: 225px 0px 0px;
  height: 560px;
}
.feature h2 {
  margin-top: 100px;
  margin-bottom: 35px;
  width: 400px;
}
.feature p {
  width: 400px;
  margin-bottom: 35px;
}
.feature img {
  width: 100%;
}
@media (min-width: 1024px) {
  #features .media .media-body {
    min-height: 110px;
  }
}
/* ========================================================================
 * LAYOUT / SUPPORTED RESOLUTIONS
 * ======================================================================== */
#supported-resolutions {
  text-align: center;
  overflow: hidden;
}
#supported-resolutions .inner {
  padding: 90px 0px 50px;
}
#supported-resolutions h2 + p {
  margin-bottom: 70px;
}
#supported-resolutions .panel {
  box-shadow: none;
}
#supported-resolutions .panel.panel-scrollable .panel-body {
  overflow: hidden;
  height: 400px;
}
#supported-resolutions .panel .panel-heading {
  background-color: #81b71a;
  color: white;
}
#supported-resolutions .panel .panel-body {
  border: 1px solid #ECECEC;
  border-top: none;
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}
#supported-resolutions .panel .panel-body > ul {
  margin: 0px;
  padding: 0px;
}
#supported-resolutions .panel .panel-body > ul > li {
  border-left: none;
  border-right: none;
  text-align: left;
  padding: 10px;
}
#supported-resolutions .panel .panel-body > ul > li:first-child {
  border-top: none;
}
#supported-resolutions .panel .panel-body > ul > li:last-child {
  border-bottom: none;
}
#supported-resolutions .panel .panel-body > ul > li ul:hover li a {
  display: block;
}
#supported-resolutions .panel .panel-body > ul > li ul li {
  vertical-align: top;
}
#supported-resolutions .panel .panel-body > ul > li ul li:last-child {
  float: right;
}
#supported-resolutions .panel .panel-body > ul > li ul li h4 {
  font-size: 15px;
}
#supported-resolutions .panel .panel-body > ul > li ul li a {
  display: none;
}
#supported-resolutions .panel .panel-body > ul > li a {
  color: #81b71a;
}
#supported-resolutions .panel .panel-body > ul > li i {
  font-size: 15px;
  color: #81b71a;
}
/* ========================================================================
 * LAYOUT / SUMMARY
 * ======================================================================== */
#summary {
  background-color: #EEE;
}
#summary .inner {
  text-align: center;
  padding: 45px 0px 45px;
}
#summary p {
  color: #666;
  font-size: 60px;
  margin-bottom: 5px;
}
/* ========================================================================
 * LAYOUT / FOOTER
 * ======================================================================== */
#footer {
  background-color: #DDD;
}
#footer .inner {
  padding: 15px 0px;
  text-align: center;
}
#footer .copyright {
  font-size: 14px;
}
#footer .copyright a,
#footer .copyright span {
  color: #666;
  margin: 0px 6px;
}
/* ========================================================================
 * COMPONENT / MISC / CONTEXTUAL CLASSES TEXT
 * ======================================================================== */
.text-center {
  text-align: center;
}
/* ========================================================================
 * COMPONENT / MISC / FOREGROUND COLOR
 * ======================================================================== */
.fg-red {
  color: #e9573f;
}
.fg-blue {
  color: #00b1e1;
}
.fg-yellow {
  color: #f6bb42;
}
.fg-green {
  color: #8cc152;
}
/* ========================================================================
 * COMPONENT / MISC / LOADING ANIMATION
 * ======================================================================== */
#loading {
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999999999;
}
#loading .loading-inner {
  position: absolute;
  top: 40%;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}
#loading .loading-inner img {
  margin-right: auto;
  margin-left: auto;
}
/* ========================================================================
 * COMPONENT / MISC / DIMENSION
 * ======================================================================== */
.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}
/* ========================================================================
 * BACK TOP
 * ======================================================================== */
#back-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  color: #EEE;
  text-align: center;
  background-color: rgba(89, 95, 102, 0.7);
  display: block;
  z-index: 99999;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
#back-top:hover {
  background: #81b71a;
  box-shadow: 0 0 0 6px #a9e33a;
}
#back-top i {
  font-size: 20px;
  line-height: 35px;
}
/* ========================================================================
 * RESPONSIVE LAYOUT
 * ======================================================================== */
@media (min-width: 1200px) {
  .logo-mobile {
    display: none;
  }
}
@media (max-width: 800px) {
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 16px;
  }
  .inner {
    width: 100%;
  }
  #banner.banner-view .inner h1 {
    font-size: 23px;
  }
  #banner.banner-view .inner h1 span {
    font-size: 20px;
    line-height: 30px;
  }
  #banner .arrow {
    right: 30px;
  }
  #top-reasons {
    border-bottom: 1px solid #dddddd;
  }
  #top-reasons .inner {
    padding: 20px 0px;
  }
  #top-reasons [class*="col-"] {
    margin-bottom: 50px;
  }
  .feature {
    text-align: center;
  }
  .feature .inner {
    padding: 75px 0px 0px;
  }
  .feature h2,
  .feature p,
  .feature img {
    margin-left: auto;
    margin-right: auto;
  }
  .feature h2 {
    margin-bottom: 10px;
  }
  .feature img {
    width: 65%;
  }
  #features .inner {
    padding: 135px 0px 50px;
  }
  #features h2 + p {
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 30px;
  }
  #features .media {
    margin-bottom: 15px;
  }
  #features .media .pull-left {
    width: 40px;
  }
  #features [class*="col-"] {
    margin-bottom: 10px;
  }
  #summary .inner {
    padding: 30px 0px;
  }
  #summary p {
    font-size: 45px;
  }
  #supported-resolutions .inner {
    padding: 70px 0px 50px;
  }
  #supported-resolutions [class*="col-"] {
    margin-bottom: 35px;
  }
  .row {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (max-width: 720px) {
  h2 {
    font-size: 22px;
  }
  h2 + p {
    font-size: 14px;
  }
  .navbar-toggle {
    background-color: white;
    padding: 3px 8px;
    margin-top: 7px;
  }
  .navbar-toggle i {
    font-size: 27px;
  }
  .navbar-nav {
    margin: 0px -15px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar-nav:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .navbar-nav li {
    text-align: right;
  }
}
@media (max-width: 540px) {
  h2 + p {
    font-size: 13px;
  }
  #banner.banner-view .inner h1 {
    font-size: 21px;
    line-height: 25px;
  }
  #banner.banner-view .inner h1 span {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  #banner.banner-view .inner h1 {
    font-size: 17px;
    line-height: 25px;
  }
  #banner.banner-view .inner h1 span {
    font-size: 15px;
    line-height: 25px;
  }
  #banner.banner-view .action {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 15px;
  }
  #banner.banner-view .live-preview {
    font-size: 16px;
  }
  .feature h2 {
    width: 260px;
  }
  .feature p {
    width: 330px;
    font-size: 14px;
  }
  .feature img {
    width: 100%;
  }
  #features .inner {
    padding: 55px 0px 50px;
  }
  #features h2 {
    margin-bottom: 5px;
  }
  #features h2 + p {
    font-size: 14px;
  }
  #summary p {
    font-size: 30px;
  }
  #supported-resolutions .panel .panel-body > ul > li {
    padding: 7px;
  }
}
@media (max-width: 360px) {
  h2 {
    font-size: 20px;
  }
  #banner.banner-view .inner h1 {
    font-size: 13px;
  }
  #banner.banner-view .inner h1 span {
    font-size: 12px;
  }
  .feature p {
    width: 300px;
  }
  #supported-resolutions .panel .panel-body > ul > li ul li:first-child {
    display: none;
  }
  #supported-resolutions .panel .panel-body > ul > li ul li h4 {
    font-size: 13px;
  }
  #footer .copyright {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  #banner.banner-view .inner h1 {
    font-size: 12px;
  }
  #banner.banner-view .action {
    padding-right: 20px;
    padding-left: 20px;
  }
  #features h2 {
    font-size: 18px;
  }
  #features h2 + p {
    font-size: 13px;
  }
  .feature p {
    width: 255px;
  }
  #supported-resolutions .inner {
    padding: 40px 0px 0px;
  }
  #supported-resolutions .panel .panel-body > ul > li ul li h4 {
    font-size: 11px;
  }
  #summary .inner {
    padding: 20px 0px;
  }
  #summary p {
    font-size: 25px;
  }
  #footer .copyright {
    font-size: 11px;
  }
}
/* ========================================================================
 * MISC
 * ======================================================================== */
.arrow {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  width: 36px;
  height: 35px;
  overflow: hidden;
  white-space: nowrap;
  border: 2px solid #bbbbbb;
  color: #bbbbbb;
  right: 10px;
  font-size: 25px;
  bottom: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 30px;
}
.arrow:hover {
  border: 2px solid white;
  color: white;
}
.arrow:focus {
  border: 2px solid #bbbbbb;
  color: #bbbbbb;
}
#jpreOverlay {
  background-color: #fff;
}
#jpreLoader {
  text-align: center;
  width: 50px;
  height: 50px;
  z-index: 1;
  margin: 0 auto;
}
#jpreBar {
  position: fixed;
  width: 100%;
  height: 5px !important;
  top: 0;
  left: 0;
  background-color: #81b71a;
}
#jprePercentage {
  color: #424242;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
