<th:block th:fragment="css-section">
	<!-- START @FAVICONS -->
	<link
		th:href="@{/assets/global/img/ico/apple-touch-icon-144x144-precomposed.png}"
		rel="apple-touch-icon-precomposed" sizes="144x144" />
	<link
		th:href="@{/assets/global/img/ico/apple-touch-icon-114x114-precomposed.png}"
		rel="apple-touch-icon-precomposed" sizes="114x114" />
	<link
		th:href="@{/assets/global/img/ico/apple-touch-icon-72x72-precomposed.png}"
		rel="apple-touch-icon-precomposed" sizes="72x72" />
	<link
		th:href="@{/assets/global/img/ico/apple-touch-icon-57x57-precomposed.png}"
		rel="apple-touch-icon-precomposed" />
	<link th:href="@{/assets/global/img/ico/icon.png}" rel="shortcut icon" />
	<!--/ END FAVICONS -->

	<!-- START @FONT STYLES -->
	<!-- 	<link -->
	<!-- 		href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" -->
	<!-- 		rel="stylesheet" /> -->
	<link th:href="@{/assets/fonts/google-fonts.css}" rel="stylesheet" />
	<!--/ END FONT STYLES -->

	<!-- START @GLOBAL MANDATORY STYLES -->
	<link
		th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}"
		rel="stylesheet" />
	<!--/ END GLOBAL MANDATORY STYLES -->

	<!-- START @PAGE LEVEL STYLES -->
	<link
		th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}"
		rel="stylesheet" />
	<link th:href="@{/assets/global/plugins/animate/animate.css}"
		rel="stylesheet" />
	<link th:href="@{/assets/global/plugins/dropzone/css/dropzone.css}"
		rel="stylesheet" />
	<link
		th:href="@{/assets/global/plugins/gritter/css/jquery.gritter.css}"
		rel="stylesheet" />
	<!--/ END PAGE LEVEL STYLES -->

	<!-- START @THEME STYLES -->
	<link th:href="@{/assets/admin/css/layout.css}" rel="stylesheet" />
	<link th:href="@{/assets/admin/css/components.css}" rel="stylesheet" />
	<link th:href="@{/assets/admin/css/plugins.css}" rel="stylesheet" />
	<link th:href="@{/assets/admin/css/themes/default.theme.css}"
		rel="stylesheet" id="theme" />
	<link th:href="@{/assets/admin/css/custom.css}" rel="stylesheet" />

	<!--/ END THEME STYLES -->
</th:block>